RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "46f3aaf7-5591-479f-92de-30bb36281014",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "운수좋은날",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "f9074f61-731a-4724-990d-4888a9046a66",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wlkvZ4VZlv3ikazd",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "9730499f-1c87-49ac-bd6d-351eaf38da00",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wlkvZ4VZlv3ikazd",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "71503e95-9dec-457f-ae53-37b1029a0c37",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        0
      ],
      "id": "7035d9f6-017f-42e2-b561-2421386d1793",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "4IicTTwV478AHqnN",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        208
      ],
      "id": "02b4ea60-c314-4dd8-bc0e-1d16b991002a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nNw9v1B1hiTqQha8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        208
      ],
      "id": "fb4f9f08-0ed0-4d04-ab0b-2b8ddb1753e9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        256
      ],
      "id": "380d96eb-c0d8-4192-9ba9-1dac914ac517",
      "name": "When chat message received",
      "webhookId": "253726e0-b225-47a2-99b2-e66743396775"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "너는 소설에서 정보를 찾는 에이전트야. \n\n질문을 해석해서 무조건 소설 저장소에서 관련있는 자료를 찾은 후, 해당 내용을 기반으로 답변을 해."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        256
      ],
      "id": "5f5fb041-681b-4626-b29d-fc8b96a808ff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        464
      ],
      "id": "9d5886c4-8122-4617-8c37-0715d20a54df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nNw9v1B1hiTqQha8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "소설을 임베딩한 DB",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        560,
        416
      ],
      "id": "211a6169-4318-4f09-b07a-03769624046b",
      "name": "novel db",
      "credentials": {
        "pineconeApi": {
          "id": "4IicTTwV478AHqnN",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        544
      ],
      "id": "df33f9b2-25ae-42c7-8506-9593807d18f9",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "nNw9v1B1hiTqQha8",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "novel db": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "novel db",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3f9fe234-f934-49d9-ab66-3f86932a7de0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4745a8baf796194ad5f843d369de3bd569e5d7712552e44ac6a6150ae72519e6"
  },
  "nodeGroups": [],
  "id": "o1diIC2yKagxCLjW",
  "tags": []
}
